@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Lora:wght@400;500;600&family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@100;200;300;400;500&family=Pushster&family=Roboto+Condensed:wght@400;700&family=Waterfall&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: url("https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260") no-repeat center center;
  background-size: cover;
  color: blue;
  height: 100vh;
  width: 100%;
}

main {
  position: relative;
  height: 100vh;
  width: 100%;
}

main .top {
  height: 60vh;
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 4%;
  color: white;
}

@media screen and (max-width: 750px) {
  main .top {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main .top .topLeft {
  height: auto;
  -webkit-box-flex: 8;
      -ms-flex: 8;
          flex: 8;
}

@media screen and (max-width: 750px) {
  main .top .topLeft {
    -webkit-box-flex: 8;
        -ms-flex: 8;
            flex: 8;
  }
}

main .top .time {
  font-size: 4vw;
  font-weight: 100;
}

@media screen and (max-width: 750px) {
  main .top .time {
    font-size: 2rem;
    text-align: center;
  }
}

main .top .time #am-pm {
  font-size: 2vw;
}

@media screen and (max-width: 750px) {
  main .top .time #am-pm {
    font-size: .5rem;
  }
}

main .top .date {
  font-size: 1.5vw;
  font-weight: 100;
}

@media screen and (max-width: 750px) {
  main .top .date {
    font-size: 1.5rem;
    text-align: center;
  }
}

main .top .parameter {
  background-color: rgba(19, 20, 20, 0.363);
  border: solid 1px white;
  border-radius: 15px;
  width: 30%;
  padding: 2%;
  margin-top: 3%;
}

@media screen and (max-width: 750px) {
  main .top .parameter {
    width: 80%;
    margin-left: 10%;
  }
}

main .top .parameter .humidity {
  font-size: 1vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2%;
}

@media screen and (max-width: 750px) {
  main .top .parameter .humidity {
    font-size: 1rem;
    font-weight: 200;
  }
}

@media screen and (max-width: 750px) {
  main .top .topRight {
    -webkit-box-flex: 4;
        -ms-flex: 4;
            flex: 4;
  }
}

main .top .topRight .timeZone {
  font-size: 2vw;
  font-weight: 100;
}

@media screen and (max-width: 750px) {
  main .top .topRight .timeZone {
    font-size: 1.2rem;
    text-align: center;
    padding-top: 12%;
  }
}

main .top .topRight .cordinates {
  font-size: 1vw;
  text-align: right;
}

@media screen and (max-width: 750px) {
  main .top .topRight .cordinates {
    font-size: 1.2rem;
    text-align: center;
  }
}

main .bottom {
  color: white;
  background-color: rgba(10, 26, 26, 0.356);
  padding: 1%;
  height: 40vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: scroll;
  overflow-y: hidden;
}

main .bottom .todayForecast {
  height: 100%;
  width: 20%;
  margin: 4%;
  background-color: rgba(29, 31, 27, 0.445);
  border: solid 1px white;
  border-radius: 15px;
  padding: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (max-width: 950px) {
  main .bottom .todayForecast {
    min-width: 80%;
  }
}

main .bottom .todayForecast .icon {
  width: 50%;
  height: 50%;
}

main .bottom .todayForecast .icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

main .bottom .todayForecast .data {
  padding: 2%;
}

main .bottom .todayForecast .data .night {
  font-size: 0.9rem;
}

main .bottom .todayForecast .data .monday {
  padding: 2%;
  text-align: center;
  border-radius: 15px;
  font-size: 1.5vw;
}

@media screen and (max-width: 750px) {
  main .bottom .todayForecast .data .monday {
    font-size: 1.2rem;
  }
}

main .bottom .future {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 80%;
}

main .bottom .future .futureForecast {
  background-color: rgba(22, 20, 21, 0.466);
  border-radius: 15px;
  border: solid 1px white;
  margin-right: 2%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5%;
}

main .bottom .future .futureForecast .temp {
  font-size: 1vw;
  text-align: center;
}

@media screen and (max-width: 750px) {
  main .bottom .future .futureForecast .temp {
    font-size: .9rem;
  }
}
/*# sourceMappingURL=main.css.map */