@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lora:wght@400;500;600&family=Open+Sans:wght@300;400;500;600&family=Poppins:wght@100;200;300;400;500&family=Pushster&family=Roboto+Condensed:wght@400;700&family=Waterfall&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    background: url('https://images.pexels.com/photos/209831/pexels-photo-209831.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260')no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    height: 100vh;
    width: 100%;
}
.darkBody{
    background: url("https://images.pexels.com/photos/557782/pexels-photo-557782.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
}
main{
    position: relative;
    height: 100vh;
    width: 100%;
    .top{
        height: 60vh;
        width: 100%;
        position: relative;
        display: flex;
        justify-content: space-between;
        padding: 2%;
        color: white;
        @media screen and (max-width:750px) {
            flex-direction: column;
        }
        .topLeft{
            height: auto;
            flex: 8;
            @media screen and (max-width:750px) {
                flex: 8;
            }
        }
        .time{
            font-size: 4vw;
            font-weight: 500;
            @media screen and (max-width:750px) {
                font-size: 2rem;
                text-align: center;
            }
            #am-pm{
                font-size: 2vw;
                @media screen and (max-width:750px) {
                    font-size: .5rem;
                }
            }
        }
        .date{
            font-size: 1.5vw;
            font-weight: 100;
            @media screen and (max-width:750px) {
                font-size: 1.5rem;
                text-align: center;
            }
        }
        .parameter{
            background-color: rgba(19, 20, 20, 0.363);
            border: solid 1px white;
            border-radius: 15px;
            width: 30%;
            padding: 2%;
            margin-top: 1%;
            @media screen and (max-width:750px) {
                width: 80%;
                margin-left: 10%;
            }
            .humidity{
                font-size: 1vw;
                display: flex;
                justify-content: space-around;
                align-items: center;
                padding: 2%;
                @media screen and (max-width:750px) {
                    font-size: 1rem;
                    font-weight: 200;
                }
            }
        }
        .topRight{
            @media screen and (max-width:750px) {
                flex: 4;
            }
            .timeZone{
                font-size: 2vw;
                font-weight: 100;
                @media screen and (max-width:750px) {
                    font-size: 1.2rem;
                    text-align: center;
                    padding-top: 12%;
                }
            }
            .cordinates{
                font-size: 1vw;
                text-align: right;
                @media screen and (max-width:750px) {
                    font-size: 1.2rem;
                    text-align: center;
                }
            }
        }
    }
    .bottom{
        color: white;
        background-color: rgba(10, 26, 26, 0.356);
        padding: 1%;
        height: 40vh;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        overflow-x: scroll;
        overflow-y: hidden;
        .todayForecast{
            height: 100%;
            width: 20%;
            margin: 4%;
            background-color: rgba(29, 31, 27, 0.445);
            border: solid 1px white;
            border-radius: 15px;
            padding: 1%;
            display: flex;
            align-items: center;
            @media screen and (max-width:950px) {
                min-width: 80%;
            }
            .icon{
                width: 50%;
                height: 50%;

                img{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                }
            }
            .data{
                padding: 2%;
                .night{
                    font-size: 0.9rem;
                }
                .monday{
                    padding: 2%;
                    text-align: center;
                    border-radius:15px ;
                    font-size: 1.5vw;
                    @media screen and (max-width:750px) {
                        font-size: 1.2rem;
                    }
                }
            }
        }
        .future{
            display: flex;
            height: auto;
            border: 5px solid green;
            .futureForecast{
                background-color: rgba(22, 20, 21, 0.466);
                border-radius: 15px;
                border: solid 5px red;
                margin-right: 2%;
                display: flex;
                height: auto;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 5%;
                .temp{
                    font-size: 1vw;
                    text-align: center;
                    @media screen and (max-width:750px) {
                        font-size: .9rem;
                    }
                }
            }
        }
    }
}
.btn{
    position: fixed;
    top: 30vh;
    left: 95%;
    z-index: 10;
    cursor: pointer;
    padding: 1%;
    background: url("https://img.icons8.com/material-sharp/50/000000/do-not-disturb-2.png") center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    border: none;
    @media screen and (max-width:750px) {
        padding: 4%;
        top: 2vh;
        left: 90%;
    }
}
.lgt{
    background: url("https://img.icons8.com/material-outlined/50/000000/sun.png") center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    border: none;
    background-color: #e4ecf9;
}